<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<p>Hi, <span th:text="${user.name}"></span></p>
<p> Tài khoản đăng nhập vào hệ thống FAMS của bạn đã yêu cầu cấp lại password.</p>
<p>Vui lòng truy cập đường dẫn sau để được cấp lại mật khẩu mới:
	<a th:href="${create_new_pass}"> Renew password</a></p>
<p>Expire at: <span th:value="${expire}"></span></p>
<p> Nếu bạn không yêu cầu cấp lại mật khẩu, vui lòng bỏ qua...</p>


<p><strong>Lưu ý: </strong> <i>Vui lòng thay đổi mật khẩu sau khi đăng nhập</i></p>

</body>
</html>